*{
    margin: 0px;
    padding: 0px;
}

body{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

input{
    height: 50px;
    min-width: 100px;
    font-size: x-large;
    text-align: center;
    outline: none;
    border-radius: 20px;
    box-shadow: 3px 3px 5px gray;
}